<app-create [createTitle]="requestTitle" [createBreadCums]="deliveryNoteBreadCums">
    <div class="header-action" *ngIf="(UIState$ | async) === 'CREATE'">
            <button nz-button nzType="primary" (click)="onSubmit('Draft','create')" class="mr-2">Save as Draft</button>
            <button nz-button nzType="primary" [disabled]="deliveryNoteFormGroup.invalid" (click)="onSubmit('Active','create')" class="mr-2" >Submit</button>
            <button nz-button nzType="default" (click)="navigateToDashboard()" >Discard</button>
    </div>
    <div class="header-action" *ngIf="(UIState$ | async) === 'VIEW'">
        <button nz-button nzType="primary" (click)="onEditState()" class="mr-2">Edit</button>
        <button nz-button nzType="default" (click)="navigateToDashboard()" >Discard</button>
    </div>
    <div class="header-action" *ngIf="(UIState$ | async) === 'EDIT'">
        <button nz-button nzType="primary"  (click)="onEdit()" class="mr-2" [disabled]="deliveryNoteFormGroup.invalid" [disabled]="deliveryNoteFormGroup.get('requestStatus').value !== 'Draft'">Save as Draft</button>
        <button nz-button nzType="primary" [disabled]="deliveryNoteFormGroup.invalid" (click)="onSubmit('Active','edit')" class="mr-2" [disabled]="deliveryNoteFormGroup.get('requestStatus').value !== 'Draft'" >Submit</button>
        <button nz-button nzType="default" (click)="navigateToDashboard()">Discard</button>
    </div>

    <div class="create-form">
        <form [formGroup]="deliveryNoteFormGroup" *ngIf="deliveryNoteFormGroup">
            <div class="row">
                <div class="col-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="request" nzRequired>Auction File Number</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input  id="request" formControlName="auctionFileNumber"  type="text"/>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="date" nzRequired>Auction Date</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <nz-date-picker id="disposed" formControlName="auctionDate" [nzDisabled]="true"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="value" nzRequired>Buyers Name</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input  id="value" formControlName="buyersName" type="text"  />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="value" nzRequired>Date of Issue</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <nz-date-picker id="disposed" formControlName="issueDate" [nzDisabled]="(UIState$ | async) === 'VIEW'"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>


                </div>
                <div class="col-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="disposed" nzRequired>Auction Value</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input id="method"  formControlName="auctionValue" [disabled]="(UIState$ | async) === 'VIEW'"/>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="disposed" nzRequired>Payment Status</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input id="method"  formControlName="paymentStatus" [disabled]="(UIState$ | async) === 'VIEW'"/>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="method" nzRequired>Buyers Address</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input id="method"  formControlName="buyersAddress"/>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="method" nzRequired>Contact Number</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input id="method"  formControlName="contactNumber"/>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="method" nzRequired>Delivery Status</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input nz-input id="method"  formControlName="deliveryStatus"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="disposed" nzRequired>Asset Description</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24">
                            <textarea rows="8" nz-input formControlName="assetDescription"  style="min-height: 250px !important"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>

    </div>
</app-create>

