
<app-dashboard dashboardTitle="Auction Dashboard" [dashboardBreadcums]="auctionBreadCums" [dashboardSearchPlaceholder]="'Search Request'" (dashboardSearchEvent)="onDashboardSearch($event)">
    <div class="header-action">
    </div>
    <div class="grid-action-left ">
        <form [formGroup]="filterForm">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="filter d-flex flex-row justify-content-between align-items-center">
                    <div class="filter-datepicker mr-2 d-flex flex-row justify-content-between align-items-center flex-fill">
                        <span class="filter-label">Auction Date</span>
                        <nz-range-picker formControlName="date" [nzPlaceHolder]="['Auction Start Date','Auction End Date']"></nz-range-picker>
                    </div>
                    <div class="filter-status d-flex flex-row justify-content-between align-items-center flex-fill">
                        <span class="filter-label">Auction Status</span>
                        <nz-select formControlName="status">
                            <nz-option nzValue="Draft" nzLabel="Draft"></nz-option>
                            <nz-option nzValue="Active" nzLabel="Active"></nz-option>
                        </nz-select>
                    </div>
                    <div class="filter-reset">
                        <button nz-button nzType="default"(click)="resetFilter()" class="ml-3">Clear Filter</button>
                    </div>
            </div>
            </div>
        </form>
  
    </div>
    <div class="grid-action-right">

    </div>
    <div class="grid-content">
        <nz-table #basicTable [nzData]="(auctionList$ | async)" nzShowPagination
        nzShowSizeChanger>
            <thead>
                <tr>
                    <th>Request No.</th>
                    <th>Auction Date</th>
                    <th>Place of Auction</th>
                    <th>Auction Time</th>
                    <th>Deposit Amount</th>
                    <th>Description</th>
                    <th>Bid Submission (Last Date)</th>
                    <th>Auction Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of basicTable.data">
                    <td>
                        <span class="text-decoration-link" (click)="navigateToEditRequest(request)">{{request.id}}</span>
                    </td>
                    <td>{{request.auctionDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{request.placeOfAuction}}</td>
                    <td>{{request.auctionTime | date: 'M/d/yy, h:mm a'}}</td>
                    <td>{{request.depositAmount}}</td>
                    <td>{{request.description}}</td>
                    <td>{{request.bidSubmissionDate | date: 'dd/MM/yyyy'}}</td>
                    <td [ngStyle]="{'color': request.statusOfAuction === 'Active' ? '#155724' : 'Blue' }" class="font-weight-bold">{{request.statusOfAuction | uppercase}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>  


</app-dashboard>
