<div class="row">
    <div class="col-md-12 col-sm-12 mb-2">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          Dashboard
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <b> Notices </b>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <b>Create Notice</b>
      </div>
      <div class="col-md-3">
    </div>
    <div class="col-md-3">
        <button nz-button nzType="default">Save Draft</button>
         <button nz-button nzType="default">Submit Notice</button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <br><br>
  <div class="row">
    <div class="input-group">
      <div class="col-md-6">
          <div class="col-md-4">Notice subject</div>
          <div class="col-md-8"><input formControlName="userName" nz-input placeholder="Notice Subject" /></div>
      </div>
    
      <div class="col-md-6">
        <div class="col-md-4">Notice Type</div>
        <div class="col-md-8"> <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Nomination" style="width: 250px;"
            formControlName="any" nzRequired>
            <nz-option nzLabel="Jagan" nzValue="Jagan">Jagan</nz-option>
            <nz-option nzLabel="Mohan" nzValue="Mohan">Mohan</nz-option>
            <nz-option nzLabel="Kadiri" nzValue="Kadiri">Kadiri</nz-option>
        </nz-select></div>
    </div>
    </div>
 </div>
 <div class="row">
    <div class="input-group">
      <div class="col-md-6">
          <div class="col-md-3">Description</div>
          <div class="col-md-9"><input formControlName="userName" nz-input placeholder="hjdnefjefe" /></div>
      </div>
      </div>

      </div>
