.paddingT15 {
    padding-top: 15px;
  }
.tag-style {
    border: 1px solid black;
    padding: 6px;
    border-radius: 4px;
    margin-right: 5px;
  }
  .clause-style {
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
  }
  .word-break {
    word-break: break-word;
    font-family: rachana;
    font-size: 18px;
  }
  .dropdown-option {
    margin: 0;
  }
  .bt-mg button{
    margin-left: 3px;
    float: left;
  }