.classname2{transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;height: 0px;width: 100%;}

    .classname{transition:All 1s ease;
        -webkit-transition:All 1s ease;
        -moz-transition:All 1s ease;
        -o-transition:All 1s ease;
    min-height: 50px !important;}

    .menubg {
        color: #295c8d !important;
        background: #eef5fb !important;
    }
    .ant-menu-item {
        color: #295c8d !important;
        background: #eef5fb !important;
    }
    .ant-menu-item:hover {
        color: #295c8d !important;
        background: #eef5fb !important;
    }
    .ant-menu-submenu {
        color: #295c8d !important;
        background: #eef5fb !important;
    }
    .ant-menu-submenu:hover {
        color: #295c8d !important;
        background: #eef5fb !important;
    }