<div class="row">
    <div class="col-md-12 col-sm-12 mb-2">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          {{ "business-dashboard.question.dashboard" | translate }}
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <b> {{ "business-dashboard.question.Approved SOA" | translate }} </b>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>

  <div class="sticky_action_bar">
  <div class="row">
      <div class="col-md-3">
        <h2 class="admin-page-heading">{{ "business-dashboard.question.Approved SOA" | translate }}</h2>
      </div>
  </div>  
  <nz-divider></nz-divider> 
  </div> 
  <div class="row">
      <div class="col-md-4">
          <nz-form-item>
            <nz-form-control nzErrorTip='{{"cpl.docupload.selassembly" | translate}}'>
              <div class="row">
                <div class="col-md-4">
                  <nz-form-label> {{"business-dashboard.aod.aod-list.assembly" | translate}}</nz-form-label>
                </div>
                <div class="col-md-8">
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder='{{"business-dashboard.question.selectaassembly" | translate}}' 
                  [(ngModel)]="assemblyId"
                  (ngModelChange)="filterAssembly()">
                      <nz-option *ngFor="let item of assemblyList" [nzLabel]="item.assemblyId" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-control nzErrorTip='{{"business-dashboard.question.selectassemblysession" | translate}}'>
              <div class="row">
                <div class="col-md-4">
                  <nz-form-label> {{"business-dashboard.question.assemblysession" | translate}}</nz-form-label>
                </div>
                <div class="col-md-8">
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder='{{"business-dashboard.question.selectaassemblysession" | translate}}' 
                      [(ngModel)]="sessionId"
                      (ngModelChange)="getSoa()">
                      <nz-option *ngFor="let item of sessionList" [nzLabel]="item.sessionId" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div> 
  </div>
  <br/>
  <div class="row">
      <div class="col-md-12">
   <div class="width-100 overflow">
  <nz-table #borderedTable nzBordered [nzShowPagination]="false" class="tbl-td" [nzData]="listOfData">
      <thead>
       <tr>
          <th>ക്രമ നമ്പർ</th>
          <th>ചോദ്യങ്ങൾക്ക് ഉത്തരം നൽകേണ്ട തീയതി</th>
          <th>നറുക്കെടുപ്പ് തീയതി</th>
          <th>ചോദ്യങ്ങൾ പ്രെസ്സിൽ അയക്കേണ്ട തീയതി </th>
          <th>ചോദ്യങ്ങൾ പ്രെസ്സിൽ നിന്നും അച്ചടിച്ച് ലഭിക്കേണ്ട തീയതി </th>
          <th>ചോദ്യങ്ങൾ വകുപ്പുകൾക് അയക്കേണ്ട തീയതി </th>
          <th>അംഗങ്ങൾക് വിതരണം ചെയ്യേണ്ട തീയതി </th>
          <th>ഉത്തരം നിയമസഭ സെക്രെട്ടറിയേറ്റിൽ ലഭിക്കേണ്ട തീയതി,സമയം [ചട്ടം47(1)] </th>
          <th>ഡിലേ സ്റ്റേറ്റ്മെൻറ് ഇല്ലാതെ താത്കാലിക മറുപടി ലഭ്യമാക്കിയവയ്ക്കുള്ള അന്തിമ മറുപടി നൽകുന്നതിനുള്ള അവസാന
              തീയതി [ചട്ടം 47(2)]</th>
        </tr>
       </thead>
      <tbody>
        <tr *ngFor="let data of listOfData; index as i">
          <td>{{i+1}}</td>
          <td>{{data.answerDate | date: 'dd-MM-yyyy'}}</td>
          <td><label>{{data.lottingDate | date: 'dd-MM-yyyy'}}</label></td>
          <td><label>{{data.sendToPressDate | date: 'dd-MM-yyyy'}}</label></td>
          <td><label>{{data.printFromPressDate | date: 'dd-MM-yyyy'}}</label></td>
          <td><label>{{data.sendToDepartmentsDate | date: 'dd-MM-yyyy'}}</label></td>
          <td><label>{{data.distributedToMembersDate | date: 'dd-MM-yyyy'}}</label></td>
          <td><label>{{data.answerReceivedAtSecreteriatDate | date: 'dd-MM-yyyy'}}</label></td>
          <td><label>{{data.tempReplyIssueDeadlineDate | date: 'dd-MM-yyyy'}}</label></td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  </div>
</div>
  
  