<form name="userPasswordEditForm" #userPasswordEditForm="ngForm">
  <div class="row">
    <div class="col-md-12 paddingT15">
      <strong>ഇപ്പോഴത്തെ പാസ്‌വേഡ്</strong>
      <input
        nz-input
        type="password"
        name="currentPassword"
        autocomplete="false"
        id="currentPassword"
        placeholder="Enter Current Password"
        [(ngModel)]="passwordModel.currentPassword"
        #currentPassword="ngModel"
        [ngClass]="{
          'is-invalid':
            (userPasswordEditForm.submitted && currentPassword.invalid) ||
            (currentPassword.invalid && currentPassword.touched)
        }"
        required
        maxlength="12"
      />
      <span class="danger invalid-feedback">
        ഇപ്പോഴത്തെ പാസ്‌വേഡ് ആവശ്യമാണ്.
      </span>
    </div>
    <div class="col-md-12 paddingT15">
      <strong>പുതിയ പാസ്‌വേഡ്</strong>
      <input
        nz-input
        type="password"
        autocomplete="false"
        name="newPassword"
        id="newPassword"
        placeholder="Enter new Password"
        [(ngModel)]="passwordModel.newPassword"
        #newPassword="ngModel"
        [ngClass]="{
          'is-invalid':
            (userPasswordEditForm.submitted && newPassword.invalid) ||
            (newPassword.invalid && newPassword.touched)
        }"
        required
        maxlength="12"
      />
      <span class="danger invalid-feedback">
        പുതിയ പാസ്‌വേഡ് ആവശ്യമാണ്.
      </span>
    </div>
    <div class="col-md-12 paddingT15">
      <strong>പാസ്‌വേഡ് സ്ഥിരീകരിക്കുക</strong>
      <input
        nz-input
        type="password"
        autocomplete="false"
        name="confirmpassword"
        id="confirmpassword"
        placeholder="Confirm New Password"
        [(ngModel)]="passwordModel.confirmPassword"
        #confirmpassword="ngModel"
        [ngClass]="{
          'is-invalid':
            (userPasswordEditForm.submitted && confirmpassword.invalid) ||
            (confirmpassword.invalid && confirmpassword.touched)
        }"
        required
        pattern="{{ passwordModel.newPassword }}"
        maxlength="12"
      />
      <span
        *ngIf="!passwordModel.confirmPassword"
        class="danger invalid-feedback"
      >
        സ്ഥിരീകരിച്ച പാസ്‌വേഡ് ആവശ്യമാണ്.
      </span>
      <span
        *ngIf="passwordModel.confirmPassword"
        class="danger invalid-feedback"
      >
        പാസ്‌വേഡുകൾ പൊരുത്തപ്പെടുന്നില്ല.
      </span>
    </div>
    <div class="col-md-12 paddingT15" style="text-align: center;">
      <br />
      <button
        type="submit"
        class="btn btn-primary"
        (click)="onCancelResetPword()"
      >
        പിന്നീട് ചെയ്യാം
      </button>
      &nbsp;
      <button
        type="submit"
        class="btn btn-primary"
        (click)="updatePassword(userPasswordEditForm)"
      >
        പാസ്‌വേഡ് മാറ്റുക
      </button>
    </div>
  </div>
</form>
