<!-- 
<div class="row d-flex justify-content-space-between">
  <div class="col-md-12 col-sm-12 mb-2">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        Dashboard
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Example </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Forms
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div class="col-md-3">
    <fieldset disabled="true">
      <h4>List of Business</h4>
    </fieldset>
  </div>
  <div class="col-md-3 text-align-right">
    <button nz-button nzType="primary" (click)="open()">Update</button>
  </div>
</div>
<hr />
<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzMaskClosable]="false"
  [nzWidth]="620"
  [nzVisible]="visible"
  nzTitle="Notes & Comments"
  (nzOnClose)="close()"
>
  <div class="card">
    <div class="card-body">
      <div class="mb-2">
        <div class="card-body d-flex justify-content-start row">
          <nz-collapse class="padding20">
            <nz-collapse-panel
              *ngFor="let panel of panels"
              [nzHeader]="panelbtn"
              [nzActive]="panel.active"
              class="ant-collapse-bg"
            >
              <ng-template #panelbtn>
                <div class="row d-flex justify-content-space-between">
                  <div class="paddingL15">
                    <h5 class="card-title">Shri. Satheeshan</h5>
                    <div class="note-date">
                      10/11/2019 <span>12:13 pm</span>
                    </div>
                  </div>
                  <div class="">
                    <button nz-button nzType="default">
                      <i nz-icon nzType="file-text" nzTheme="fill"></i>Edit
                    </button>
                    <button nz-button nzType="default">
                      <i nz-icon nzType="delete" nzTheme="fill"></i>Delete
                    </button>
                  </div>
                </div>
                <p>{{ panel.name }}</p>
              </ng-template>
              <p>{{ panel.name }}</p>

              <div *ngIf="panel.childPanel && panel.childPanel.length > 0">
                <nz-collapse>
                  <nz-collapse-panel
                    *ngFor="let childPanel of panel.childPanel"
                    [nzHeader]="childPanel.name"
                    [nzActive]="childPanel.active"
                  >
                    <p>
                      A dog is a type of domesticated animal. Known for its
                      loyalty and faithfulness, it can be found as a welcome
                      guest in many households across the world.
                    </p>
                  </nz-collapse-panel>
                </nz-collapse>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        </div>
      </div>
      <nz-input-group [nzSuffix]="suffixButton">
        <textarea
          nz-input
          placeholder="Type your comments & notes..."
          [(ngModel)]="value"
          [nzAutosize]="{ minRows: 2, maxRows: 6 }"
          class="bg-color-1"
        ></textarea>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSubmit>
          Submit
        </button>
      </ng-template>
    </div>
  </div>
</nz-drawer>

<div class="row paddingTB15">
  <div class="col-md-1 col-sm-12"><h3>Stage</h3></div>
  <div class="col-md-5 col-sm-12">
    <nz-steps [nzCurrent]="1">
      <nz-step nzTitle=""></nz-step>
      <nz-step nzTitle=""></nz-step>
      <nz-step nzTitle=""></nz-step>
      <nz-step nzTitle=""> </nz-step>
      <nz-step nzTitle=""></nz-step>
      <nz-step nzTitle=""></nz-step>
    </nz-steps>
  </div>
  <div class="col-md-6 col-sm-12"></div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="mb-2">
          <div class="card-body d-flex justify-content-start row paddingT0">
            <div class="">
              <h5 class="card-title">Questions</h5>
            </div>
            <div class="col-md-8">
              <button nz-button nzType="default">120 m</button>
            </div>

            <nz-collapse class="padding20 mrgT15">
              <nz-collapse-panel
                *ngFor="let panel of panels"
                [nzHeader]="panelbtn"
                [nzActive]="panel.false"
              >
                <ng-template #panelbtn>
                  <div class="d-flex justify-content-space-between">
                    <p>
                      {{ panel.name }}
                    </p>
                    <span
                      ><button nz-button nzType="default">-- : --</button>
                    </span>
                  </div>
                </ng-template>
                <p>{{ panel.name }}</p>

                <div *ngIf="panel.childPanel && panel.childPanel.length > 0">
                  <nz-collapse>
                    <nz-collapse-panel
                      *ngFor="let childPanel of panel.childPanel"
                      [nzHeader]="childPanel.name"
                      [nzActive]="childPanel.active"
                    >
                      <p>
                        A dog is a type of domesticated animal. Known for its
                        loyalty and faithfulness, it can be found as a welcome
                        guest in many households across the world.
                      </p>
                    </nz-collapse-panel>
                  </nz-collapse>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </div>
        </div>

        <div class="mb-2">
          <div class="card-body d-flex justify-content-start row paddingT0">
            <div class="">
              <h5 class="card-title">Legislative Business</h5>
            </div>
            <div class="col-md-8">
              <button nz-button nzType="default">120 m</button>
            </div>

            <nz-collapse class="padding20 mrgT15">
              <nz-collapse-panel
                *ngFor="let panel of panels"
                [nzHeader]="panelbtn"
                [nzActive]="panel.false"
              >
                <ng-template #panelbtn>
                  <div class="d-flex justify-content-space-between">
                    <p>
                      {{ panel.name }}
                    </p>
                    <span
                      ><button nz-button nzType="default">-- : --</button>
                    </span>
                  </div>
                </ng-template>
                <p>{{ panel.name }}</p>

                <div *ngIf="panel.childPanel && panel.childPanel.length > 0">
                  <nz-collapse>
                    <nz-collapse-panel
                      *ngFor="let childPanel of panel.childPanel"
                      [nzHeader]="childPanel.name"
                      [nzActive]="childPanel.active"
                    >
                      <p>
                        A dog is a type of domesticated animal. Known for its
                        loyalty and faithfulness, it can be found as a welcome
                        guest in many households across the world.
                      </p>
                    </nz-collapse-panel>
                  </nz-collapse>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div> -->
