<div class="row">
    <div class="col-md-12 col-sm-12 mb-2">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          Dashboard
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <b> aod </b>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  
  <!-- <div class="row d-flex justify-content-space-between">
      <div class="col-md-4">
        <h4>
         {{fileDetails.fileResponse.fileNumber}}
        </h4>
      </div> -->
      <div class="sticky_action_bar">

      <div class="row">
  <div class="col-md-6 d-flex justify-content-flex-end">
    <button nz-button nzType="default" class="mrgL6" *ngIf="hideFlag">Forward</button>
    <button nz-button [nzType]="'default'" class="secondary-button button-admin-radius button-font dark-border dark-font" nz-popconfirm nzPopconfirmTitle="Do you want to approve?"
      (nzOnConfirm)="approveFile()" *ngIf="fileButtons.Approve" (nzOnCancel)="cancel()"> 
      Approve
    </button>
    <button nz-button [nzType]="'default'" class="secondary-button button-admin-radius button-font dark-border dark-font" nz-popconfirm nzPopconfirmTitle="Do you want to Disallow?"
      *ngIf="fileButtons.Disallow" (nzOnConfirm)="disallowFile()"  (nzOnCancel)="cancel()">Disallow</button>
    <button nz-button [nzType]="'default'" class="secondary-button button-admin-radius button-font dark-border dark-font"nz-popconfirm nzPopconfirmTitle="Do you want to Return?"
     *ngIf="fileButtons.Return" (nzOnConfirm)="returnFile()" (nzOnCancel)="cancel()"
    >return</button>
    <button nz-button [nzType]="'default'" class="secondary-button button-admin-radius button-font dark-border dark-font"  nz-popconfirm nzPopconfirmTitle="Do you want to Submit?"
      *ngIf="fileButtons.Submit"  (nzOnConfirm)="submitFile()"  (nzOnCancel)="cancel()"
      >submit</button>
    <button nz-button [nzType]="'default'" class="secondary-button button-admin-radius button-font dark-border dark-font" (click)="goToList()">Back</button>
  </div>
  </div>
  <nz-divider> </nz-divider>
      </div>
  <div class="row marginbtm-25 margntp-25">
    <div class="col-md-1">
      <h5>Stage</h5>
    </div>
    <div class="col-md-11">
      <div class="overflownote"style=" overflow-x: scroll;">
      <nz-steps nzSize="small"  [nzDirection]="'horizontal'">
        <nz-step 
          *ngFor="let status of stepStatusDetail"
          [nzStatus]="getStatusByReason(status.reason)"
          [nzTitle]="status.taskDefinitionKeyName"
          [nzDescription]="status.reason"
        ></nz-step>
      </nz-steps>
      </div>
    </div>
  </div>
  <div class="row marginbtm-25 margntp-25">
    <div class="col-md-6 tab_custom">
      <nz-tabset [nzType]="'card'" [nzTabBarExtraContent]="extraTemplate">
  
        <nz-tab *ngFor="let item of noticeDetails;index as i" [nzTitle]="item?.notice?.noticeNumber"
          (nzClick)="getAllNote(item?.notice?.noticeId);">
          <nz-tabset>
  
  
  
  
            
  
            <!-- <nz-tab nzTitle="Notice">
                    <div class="row d-flex justify-content-flex-end">
                      <div class="col-md-2"> Versions</div>
                      <div class="col-md-6">
                        <nz-select [(ngModel)]="selectedVersion">
                          <ng-container *ngFor="let version of item.versionOptions">
                            <nz-option
                              nzCustomContent
                              nzLabel="{{ 'Ver ' + version.version }}"
                              [nzValue]="version.version"
                            >
                              <div class="row dropdown-option">
                                <table>
                                  <tr>
                                    <td><strong>{{ "Ver " + version.version }}</strong></td>
                                    <td><strong>{{ version.versionOwnerName }}</strong></td>
                                  </tr>
                                  <tr>
                                    <td>{{ version.createdDate | date: "dd-MM-yyyy hh:mm a" }}</td>
                                    <td>{{ getRoles(version.roles) }}</td>
                                  </tr>
                                </table>
                              </div>
                            </nz-option>
                          </ng-container>
                        </nz-select>
                      </div>
                      <div class="col-md-3"><button nz-button nzType="default" (click)="noticeProcess(item.notice.noticeId)"
                        *ngIf = "fileButtons.noticeEdit"
                        >Edit</button></div> 
                    </div>
                    <quill-view-html [content]="item.versions[selectedVersion]"></quill-view-html> 
                  </nz-tab> -->
            <nz-tab (nzClick)="getAllNote(item?.notice?.noticeId)" nzTitle="Notes">
              <div class="chat-main-body" #scrollme [scrollTop]="scrollme.scrollHeight">
                <nz-card class="margin-10 notesp" *ngFor="let data of notesData; let index; of: i">
                  <!-- <div class="row">
                       <div class="col-md-7" > 
                         <h6> {{data.note}}</h6>
                         <p>{{data?.owner?.userName}}</p>
                         <p *ngFor = "let role of data?.owner?.roles;index as i;">
                          <span  *ngIf="i === 0">{{ getRoles(data.owner.roles) }}</span>
                          </p>
                       </div>
                       <div class="col-md-5 d-flex justify-content-flex-end">
                        <p>{{data.createdDate |  date: "hh:mm a | dd/MM/yyyy" }}</p>
                        <br>
                        <p>{{data.createdDate |  date: "dd/MM/yyyy"}}</p> 
                       </div>
                    </div> -->
                </nz-card>
              </div>
              <!-- <div class="footer-chat">
                   <form [formGroup]="createNoticeNoteForm" (ngSubmit)="createNoticeNote(item?.notice?.noticeId)">
                    <div class="type_msg col-md-12 p-R250 ">
                      <div class="col-md-8 bg_txtarea">
                        <nz-form-item>
                          <nz-form-control>
                      <textarea
                        rows="2"
                        nz-input
                        placeholder="Type a message"
                        name="note"
                        formControlName="Note"
                      ></textarea>
                      </nz-form-control>
                      </nz-form-item>
                     </div>
                     <div
                      class="col-md-4 d-flex justify-content-end"
                     >
                    <button
                    type="submit"
                    nz-button
                    nzType="primary"
                    class="send-btn-style p-R15"
                  >
                  Save
                  </button>
                  </div>
                  </div>
                </form>
                </div> -->
            </nz-tab>
          </nz-tabset>
        </nz-tab>
        <div class="col-md-3">
          <button nz-button nzType="default" *ngIf ='fileButtons.Note' (click)="editaod()">Edit Minister Group</button>
        </div>
        <div class="col-md-3">
          <button nz-button nzType="default"  *ngIf ='fileButtons.Note' (click)="editaod()">Edit AOD</button>
        </div>
        
  
      </nz-tabset>
      <div>
  
  
  
  
  
  
        <span class="block_aod" *ngFor="let data of aodDetails.aodDetail;">
          <!-- <div col-12 >
                    <h3>{{item.month[0]}}</h3>
                  </div> -->
          <div class="row d-flex align-items justify-content-between">
            <div class="col-md-12 col-div-subject">
              <nz-card class="sitting-view-details">
                <ul class="min_list" *ngFor="let value of data.portfolios">
                  <li>{{ value.name }}</li>
                </ul>
              </nz-card>
            </div>
            <div class="col-md-12 sitting-view-date">
              <div class="main_grp">
                <ul class="date_grp">
                  <!-- <h3 class="font-month" *ngIf="!date.isSameMonth">{{ date.month }}</h3> -->
                  <li *ngFor="let obj of data.allottedDates">{{ obj.date }}</li>
                </ul>
              </div>
            </div>
  
          </div>
        </span>
        <!-- <div class="row">
                <span
                  class="col-md-6 marginbtm-10"
                  *ngFor="let groups of ministerGroups; let n = index"
                >
                  <div class="sitting-view-details">
                    <span (click)="selectGroup(groups.groupId, n)">
                      <nz-card [ngClass]="{ clicked: groups.selectedGrpId }">
                        <ul class="minister_grp">
                          <li
                            *ngFor="
                              let portfolio of groups.portfolioMockNames;
                              let i = index
                            "
                          >
                            {{ portfolio }}
                          </li>
                        </ul>
                      </nz-card>
                      <nz-form-item class="m-b-35">
                        <nz-form-label [nzSpan]="6" nzFor="email" required>alloted days</nz-form-label>
                        <nz-form-control
                          [nzSpan]="11"
                          *ngFor="let data of dateRange; let i = index"
                          class="w-auto"
                        >
                          <nz-tag nzMode="closeable" (nzOnClose)="onSplice(i)">
                            {{ data.date | date: "dd/MM/yyyy" }}</nz-tag
                          >
                        </nz-form-control>
                        <nz-form-control [nzSpan]="18">
                          <nz-date-picker
                            [(ngModel)]="Aoddate"
                            [nzFormat]="dateFormat"
                            [nzDisabledDate]="disabledDate"
                            (ngModelChange)="calenderOnChange($event)"
                          ></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </span>
                  </div>
                </span>
              </div> -->
  
      </div>
      <ng-template #extraTemplate>
        <!-- <button nz-button [nzType]="'primary'" 
              (click)="showDocument()"> -->
     <div class="row"> 
       <div class="col-md-12"> <span>Allotment of days</span></div>
       <div class="col-md-12 d-flex justify-content-end">
         <div class="col-md-3">
          <button nz-button nzType="default" *ngIf ='fileButtons.Note' (click)="editaod()" class="margnrtp-15 mrb-5">Edit AOD</button>
         </div>
         <div class="col-md-4">
          <button nz-button nzType="default" *ngIf ='fileButtons.Note'  (click)="editMinisterGroup()" class="margnrtp-15 mrb-5">Edit Minister group</button>
        </div>  
        </div>
    </div>  
  
        
        <!-- <nz-modal [(nzVisible)]="viewDocument" [nzOkDisabled]="true"
              (nzOnCancel)="handleCancel()"
              [nzFooter]="null" >
              <form [formGroup]="createDocumentForm" class="p-20">
              <div class="row">
                <div class="col-md-12">
                  <nz-form-item>
                    <nz-form-label>
                      Document Title
                    </nz-form-label>
                    <nz-form-control>
                      <input
                        nz-input
                        placeholder="FileDescription goes here"
                        formControlName="documentFile"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <nz-form-item>
                    <nz-form-label>
                      Document Template
                    </nz-form-label>
                    <nz-form-control>
                      <nz-select
                      nzShowSearch
                      nzAllowClear
                      name="No"
                      formControlName="letter"
                    >
                      <nz-option [nzLabel]="1" [nzValue]="1"></nz-option>
                    </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  </div>
                  </div>
                  </form>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 d-flex">
                          <button 
                            nz-button
                            [nzType]="'primary'"
                            style="margin-right: 16px;"
                            (click)="handleCancel()"
                          >
                            <span>Cancel</span>
                          </button>
                          <button
                            nz-button
                            [nzType]="'primary'"
                            style="margin-right: 16px;"
                            (click) ="createDocument()"
                          >
                            <span>Create</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
              </nz-modal> -->
      </ng-template>
    </div>
    <div class="col-md-6">
      <nz-tabset>
        <nz-tab nzTitle="Notes">
          <div class="chat-main-body" #scrollme [scrollTop]="scrollme.scrollHeight">
            <nz-card class="margin-10 notesp" *ngFor="let data of notesList.slice().reverse(); let index; of: i"
              [ngClass]="data.temporary == true ? 'temporary' : 'normal'">
              <div class="row">
                <div class="col-md-12">
               <div class="row">
                  <div class="col-md-7"><p>{{data?.user?.userName}}</p>
                    <small *ngFor="let role of data?.user?.roles;index as i;">
                      <span *ngIf="i === 0">{{ getRoles(data.user.roles) }}</span>
                    </small></div>
                  <div class="col-md-5 d-flex justify-content-flex-end">
                    <p>{{data.createdDate |  date: "hh:mm a | dd/MM/yyyy" }}</p>
                    <!-- <br>
                <p>{{data.createdDate |  date: "dd/MM/yyyy"}}</p> -->
                  </div>
               </div>
               <div class="row">
                <div class="col-md-12">
                  <h6 class="cont_nt">{{data.note}}</h6>
  </div></div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end">
                  <button nz-button nzType="default" class="m-r5" *ngIf="data.userId === currentUserID || data.temporary == true"
                    (click)="editNote(data)">Edit</button>
                  <button nz-button nzType="default" class="m-r5" nzType="info" nz-popconfirm
                    nzPopconfirmTitle="Do you want to delete?" (nzOnConfirm)="deleteNote(data.noteId)"
                    (nzOnCancel)="cancel()">Delete</button>
                  <button nz-button nzType="default" class="m-r5" nzType="info" nz-popconfirm
                    nzPopconfirmTitle="Do you want to convert this note  to normal note?"
                    (nzOnConfirm)="convertTONormal(data.noteId)" (nzOnCancel)="cancel()"
                    *ngIf="data.temporary == true">Convert to Normal</button>
                    </div></div>
                </div>
             
              </div>
            </nz-card>
          </div>
          <div class="row">
            <form [formGroup]="createNoteForm">
              <!-- <div class="width-100 d-flex bg_txtarea  "> -->
            
                 <div class="col-md-12 marginbtm-10 mrt-5" *ngIf ="fileButtons.Note">
                  <div class="txt-area-main">
                    <div class="col">
                      <strong>Quick options: </strong>
                      <nz-tag *ngFor="let tag of quickOptions; let i = index" nzMode="checkable"
                        [nzChecked]="selectedTags.indexOf(tag.label) > -1" (nzCheckedChange)="CheckforRules($event, tag, i)">
                        <div>
                          {{ tag.label }}
                        </div>
                      </nz-tag>
      
                    </div>
                  </div>
                 </div>
               
               
                 <div class="col-md-12" *ngIf ="fileButtons.Note">
                  <div class="row">
                  <div class="col-md-7 bg_txtarea">
                    <textarea rows="2" nz-input placeholder="Type a message" name="note" formControlName="note" class="txt_ful"></textarea>
                  </div>
                  <div class="col-md-5 bg_txtarea">
                    <div class="width-100 d-flex">
                      <div class="col-md-12 d-flex justify-content-end mrt-5"> 
                    <nz-form-item>
                      <nz-form-control>
                        <nz-radio-group formControlName="tempFlag" nzName="radiogroup">
                          <label nz-radio-button nzValue="true" style="background-color: yellow;">yellow</label>
                          <label nz-radio-button nzValue="false"  [nzDisabled] = "!hideNormal">Normal</label>
                        </nz-radio-group>
                      </nz-form-control>
                    </nz-form-item>
    </div></div>
         <div class="width-100 d-flex">
           <div class="col-md-12 d-flex justify-content-end">   <button *ngIf="!editMode" type="submit" nz-button nzType="primary" class="send-btn-style"
            (click) = "createNote()"
            >
              Save
            </button>
            <button *ngIf="editMode" type="submit" nz-button nzType="primary" class="send-btn-style p-R15"
            (click) = "updateNote()"
            >
              Update
            </button></div>
         </div>
    
    
                  </div>
                 </div>
               </div>
  
              <!-- <div class="type_msg col-md-12">
                
             
              </div> -->
  
  
  
              <div class="">
                <nz-modal [(nzVisible)]="ShowRules" nzTitle="Rules And Directions" (nzOnCancel)="cancelRuleSelection()"
                  (nzOnOk)="applyRule()">
                  <div class="width-100 pading-all">
                    <nz-table #rulesForNotes [nzData]="allRules" [nzPageSize]="5">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Rule No</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of rulesForNotes.data">
                          <td nzShowCheckbox [(nzChecked)]="data.checked"></td>
                          <td>{{ data.code }}</td>
                          <td>{{ data.englishDescription }}</td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </nz-modal>
              </div>
            </form>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Logs">
          <ng-container *ngFor="let log of logDetails.slice(); index as i;">
            <div class="row" *ngIf="log.action">
              <div class="col-md-12">
                <div class="bg_block">
                  <div class="col-md-7 pdzero">
                    <div class="width-100 d-flex marginbtm-15">
                      <div class="overflow-blt">{{(1+i)+ '.' + (log.action) | titlecase }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          &nbsp;&nbsp;
        </nz-tab>
        <!-- 
         <nz-tab nzTitle="Files">
          <ng-container>
           <div class="row">
            <div class="col-md-3"><span class="workflowhd">File Workflow</span></div>
             <div class="col-md-9">
              
             
                <div class="overflownote">
                  <nz-steps nzSize="small" [nzDirection]="'vertical'">
                    <nz-step 
                    *ngFor="let status of stepStatusDetail"
                    [nzStatus]="getStatusByReason(status.reason)"
                    [nzTitle]="status.taskDefinitionKey"
                    [nzDescription]="status.reason"
                    
                  ></nz-step>
                  </nz-steps>
                </div>
            
  
  
             </div>
           </div>
  
           <div class="row">
            <div class="col-md-12">
                 
                <div class="row">
                  <div class="bg_block">
                    <div class="row">
                    <div class="col-md-12">
                      <div class="row marginbtm-15">
                        <div class="overflow-blt col-md-3">File Subject:</div>
                        <span class="blthd col-md-9">{{fileDetails.fileResponse.subject}}</span>
                      </div>
                      <div class="row marginbtm-15">
                        <div class="overflow-blt col-md-3">Created Date:</div>
                        <span class="blthd col-md-9">{{fileDetails.fileResponse.createdDate | date: "dd/MM/yyyy"}}</span>
                      </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                      <div class="row marginbtm-15">
                        <div class="overflow-blt col-md-3">File Priority:</div>
                        <span class="blthd col-md-9">
                          <nz-tag [nzColor]="'red'"> {{fileDetails.fileResponse.priority}} </nz-tag></span
                        >
                      </div>
                      <div class="row">
                        <div class="overflow-blt col-md-3">Section:</div>
                        <span class="blthd col-md-9">Table</span>
                      </div>
          
                      <nz-modal
                        [(nzVisible)]="isVisible"
                        nzTitle="File Info"
                        (nzOnCancel)="handleCancel()"
                         [nzOkLoading]="isOkLoading"
                         [nzFooter]= null
                        >
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                            <div class="col-md-6">
                       <p> File No</p>
                       </div>
                       <div class="col-md-6">
                        {{fileDetails.fileResponse.fileNumber}}
                         </div>
                       </div>
                          </div>
                       <div class="col-md-6"> </div>
                        </div>
                       <div class="row">
                           <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-6">
                               <p>File Subject</p>
                           </div>
                           <div class="col-md-6">
                            <p>{{fileDetails.fileResponse.subject}}</p>
                        </div>
                        </div>
                           </div>
                           <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-6">
                               <p>File Priority</p>
                           </div>
                           <div class="col-md-6">
                            <p>{{fileDetails.fileResponse.priority}}</p>
                        </div>
                        </div>
                           </div>
                       </div>
                       <div class="row">
                        <div class="col-md-6">
                         <div class="row">
                           <div class="col-md-6">
                            <p>Created date</p>
                        </div>
                        <div class="col-md-6">
                         <p></p>
                     </div>
                     </div>
                        </div>
                        <div class="col-md-6">
                         <div class="row">
                           <div class="col-md-6">
                            <p>From Whom</p>
                        </div>
                        <div class="col-md-6">
                         <p></p>
                     </div>
                     </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                       <div class="row">
                         <div class="col-md-6">
                          <p>Section</p>
                      </div>
                      <div class="col-md-6">
                       <p></p>
                   </div>
                   </div>
                      </div>
                      <div class="col-md-6">
                       <div class="row">
                         <div class="col-md-6">
                          <p>Back File</p>
                      </div>
                      <div class="col-md-6">
                       <p></p>
                   </div>
                   </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                     <div class="row">
                       <div class="col-md-6">
                        <p>Description</p>
                    </div>
                    <div class="col-md-6">
                     <p>{{fileDetails.fileResponse.description}}</p>
                 </div>
                 </div>
                    </div>
                </div>
                       </nz-modal>
                    </div>
                    </div>
  
                  </div>
                
              </div>
  
  
  
            </div></div>
           </ng-container>
           &nbsp;&nbsp;
            </nz-tab>  -->
  
      </nz-tabset>
    </div>
  </div>
  
  <nz-modal [(nzVisible)]="isVisibleApprovalForm" nzTitle="Approve Notice" [nzFooter]="null"
    (nzOnCancel)="handleCancelApprovalForm()">
    <div class="lob_form">
      <form nz-form [formGroup]="approvalForm" class="p-20">
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{ "noticeprocessing.noticetemplate.createtemplate.input" | translate }}
          </ng-container>
        </ng-template>
        <nz-form-item class="width-100 pading-all">
          <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="errorTpl">
            <label nz-checkbox formControlName="checked" #checkbox (click)="datepicker.nzValue = null">Forward to
              BAC</label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="width-100 pading-all">
          <nz-form-label [nzSpan]="10" nzRequired>Scheduled Date</nz-form-label>
          <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="errorTpl">
            <nz-date-picker #datepicker (click)="checkbox.nzChecked = false" [nzDisabledDate]="disabledDate"
              formControlName="date">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </form>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <button nz-button nzType="primary" class="margnrtp-15" [disabled]="approvalForm.invalid"
            (click)="approveFile()">
            Submit
          </button>
          &nbsp;
          <button nz-button type="button" (click)="handleCancelApprovalForm()" class="margnrtp-15">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </nz-modal>
