@import "~src/sass/utilities/variables";
@import "~src/sass/utilities/mixin";
@import "../../sass/utilities/font";
* {
  font-family: "Rachana";
}

body {
  .font-14 {
    font-size: 14px;
    background: $mla-bg;
  }
}

.profileDetails {
  display: flex;
  flex-direction: row;
}

.profileImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.profileText {
  display: flex;
  flex-direction: column;
}

.pro_img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 10px;
}

.profileDetails {
  margin-bottom: 15px;
}

.pro_img img {
  width: 100%;
}

.logo-member-unit {
  width: 100%;
  text-align: center;
  float: left;
  img {
    max-width: 150px;
  }
}

.logo-section {
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 20px;
}

.kla-name {
  font-weight: 700;
  margin-top: 10px;
  color: $mla-font-color;
  font-size: 20px;
}
.notificationHide {
  display: none;
}
.notificationShow {
  display: block;
}
.badge_mla {
  background: #ff005e;
  border-radius: 100%;
  padding: 2px 7px;
  padding-top: 8px;
  position: absolute;
  color: #fff;
  line-height: 18px;
  top: -20px;
  left: 150px;
  z-index: 9;
}

.ant-list-split .ant-list-item {
  box-shadow: $outer-shadow-mla;
  position: relative;
  background: $mla-button-bg;
  border-radius: $button-radius;
  color: $mla-font-color;
  white-space: nowrap;
  padding: $mla-button-padng;
  height: auto;
  font-size: $mla-font-ml;
  border: none;
  margin-bottom: $margnbt-25;
}

.font-ml.ng-star-inserted {
  font-size: 18px !important;
}

.font-ml.ng-star-inserted a {
  color: $mla-font-color;
}

.hand_block_mla {
  float: left;
  width: 100%;
  border-top: #e3ecf3 solid 1px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}

.hand_mla_img {
  width: 40px;
  float: left;
  margin-right: 4%;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  background: #e3edf7;
}

.hand_mla_img img {
  max-width: 100%;
}

.name_time {
  float: left;
  width: 81%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mla_name_hand {
  float: left;
  width: 100%;
}

.mla_time_hand {
  display: flex;
  float: left;
  width: 100%;
  margin-bottom: 0px;
  font-size: 16px;
  color: $mla-font-color;
  justify-content: space-between;
}

.mla_name_hand h4 {
  margin-bottom: 0px;
  font-size: 17px !important;
  color: $mla-font-color;
}
.ruling_party {
  color: #be2edd;
}
.opposition_party {
  color: #4834d4;
}
.lng{max-width: 165px !important;}
.selct_lng{
  box-shadow: 0px -5px 15px -5px white, 0px 1px 6px 0px rgba(4, 0, 0, 0.1), 3px 0px 8px 0px rgba(0, 0, 0, 0.1), -2px 0px 10px 0px white;
position: relative;
background-color: #e3edf7;
border-radius: 10px;
color: #295c8d;
margin-left: 15px;
white-space: nowrap;
height: auto;
font-size: 18px;
border: none;
line-height: 0px;
background-image: url(../../assets/img/Language_Icon.svg);
background-repeat: no-repeat;
background-position: 10px 11px;
background-size: 27px;
padding-left: 40px;
}

@import "../../sass/utilities/font";
* {
  font-family: "Roboto";
}
.notification_cont h3 {
  float: left;
  width: 100%;
  font-size: 15px;
  margin-bottom: 2px;
}
.notification_cont p {
  float: left;
  width: 220px;
  font-size: 15px;
  margin-bottom: 0px;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note_icon {
  width: 5px;
  height: 5px;
  float: left;
  border-radius: 100%;
  background-color: #ccc;
}
.brdrb {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;

  margin-bottom: 10px;
}
.see_all {
  color: blue;
  float: left;
  padding-top: 15px;
}
.notification_container {
  float: left;
  width: 100%;
  max-height: 250px;
  overflow: auto;
  overflow-x: hidden;
}

