<div class="row">
  <div class="col-md-6">
    {{"dashboard.submission.assembly" | translate}}
    <nz-select [(ngModel)]="assembly" (ngModelChange)="changeAssembly()">
      <nz-option *ngFor="let assembly of assemblies" [nzLabel]="assembly.assemblyId" [nzValue]="assembly.id">
      </nz-option>
    </nz-select>
  </div>
  <div class="col-md-6">
    {{"dashboard.submission.session" | translate}}
    <nz-select [(ngModel)]="session" (ngModelChange)="changeSession()">
      <nz-option *ngFor="let session of sessions" [nzLabel]="session.sessionId" [nzValue]="session.id">
      </nz-option>
    </nz-select>
  </div>
</div>

<div class="row" style="padding: 15px;">
  <ul class="folder-list-view d-flex flex-wrap justify-content-between">
    <li (click)="openSubFolderTemplate(item)" *ngFor="let item of chosenDates">
      <img src="../../assets/img/Icon-feather-folder.svg" alt="" />
      <div>
        <span>{{ item.label }}</span>
      </div>
    </li>
  </ul>

  <ul class="folder-list-view d-flex flex-wrap justify-content-between">
    <li (click)="openBudgetTemplate(item.fileUrl)" *ngFor="let item of chosenFiles">
      <img src="../../assets/img/File_Icon.png" alt="" />
      <span>{{ item.label }}</span>
      <div>
        <span>{{"dashboard.summary.date" | translate}}: </span><span>{{ item.createdAt | date: "dd / MM / yyyy" }}</span>
      </div>

    </li>

  </ul>

</div>