.justify-content-end {
    display: flex;
    justify-content: flex-end;
  }
  .mrgL6 {
    margin-left: 6px;
  }
//   .abs_btn{
//     background-color: #e6eff4;
  
//   padding: 5px 10px;
//   position: absolute;
//   bottom: -34px;
//   right: 0px;
//   border: none;
//   border-radius: 5px;
//   }
  .text-align-right {
    text-align: right;
  }