$font-stack: Helvetica, sans-serif;
$primary-color: #689fcb;
$primary-button-color: #295c8d;
$margin-right-40: 40px;
$white: #fff;
$dark: #585858;
$color-gray-light: #f8f8f8;
$color-gray: #bdbdbd;
$color-gray-1: #707070;
$color-gray-2: #f9f9f9;
$button-radius: 10px;
$button-admin-radius: 5px;
$margnlft-15: 15px;
$margnrgt-15: 15px;
$margnbtm-15: 15px;
$margnbtm-10: 10px;
$padding-40: 40px;
$padding-25: 25px;
$margntp-25: 25px;
$margnbt-25: 25px;
$button-padng: 10px 20px;
$button-admin-padng: 5px 20px;
$blue-fr: #cfe9fe;
$submenu-bg: #487dac;
$font-form: 14px;
$border-dark: #dfe8ef;
$color-secondary-light: #b7d0ef;
$color-gray-light: #e0e0e0;
$color-gray-dark: #212121;
$color-gray-dark-1: #707070;
$color-black: #000000;
$color-white: #ffffff;
$color-red: #ff3800;
$color-red-close: #ff3800;
$light-gray: #f2f2f2;
$admin-heading-font: 25px;
$btn-success: #c3e6cb;
$btn-pending: #f8d7da;
$btn-going: #f8d7da;
$btn-success-color: #155724;
$btn-pending-color: #721c24;
$btn-going-color: #856404;
$color-blue-light: #f2f7fb;
$color-blue-light-1: #f4faff;
$color-blue-light-4:#f8fbfe;
$color-gray-light-4:#f7f7f7;
//border
$border-grey: 1px solid #bdbdbd;
$border-white: 2px solid #fff !important;

// Fonts
$font-roboto: "Roboto", sans-serif;



 //mla
$mla-bg: #eef5fb;
$mla-font-color: #295c8d;
$mla-button-bg: #e3edf7;
$mla-button-padng: 12px 24px;
$hover-menu-mla: #e3f2fe;
$border-1: #e3ecf3;
$login-bgR: #a4bbd0;
$login-items: #748797;
$mla-pop-bg: #e3ecf3;
$mla-font-ml:18px;
$outer-shadow-mla:0px -5px 15px -5px white, 0px 1px 6px 0px rgba(4, 0, 0, 0.1), 3px 0px 8px 0px rgba(0, 0, 0, 0.1),
   -2px 0px 10px 0px white;
$inner-shadow-mla: inset 0px -6px 15px -5px white, inset 0px 2px 5px 0px rgba(4, 0, 0, 0.1),
   inset 4px 0px 15px 0px rgba(0, 0, 0, 0.1), inset -1px 0px 10px 0px white;

$border-mla:#dee8ef;
$box-bg-mla:#e3edf7;  
$tab-head-mla:#e3edf7;

$mla-sub-tab-bg:#FBFDFE;
$mla-sub-tab-font:#6B6B6B;

/* 

//mla
$mla-bg: #f00;
$mla-font-color: #f00;
$mla-button-bg: #f00;
$mla-button-padng: 12px 24px;
$hover-menu-mla: #f00;
$border-1: #f00;
$login-bgR: #f00;
$login-items: #f00;
$mla-pop-bg: #f00;
$mla-font-ml:18px;
$outer-shadow-mla:0px -5px 15px -5px white, 0px 1px 6px 0px rgba(4, 0, 0, 0.1), 3px 0px 8px 0px rgba(0, 0, 0, 0.1),
    -2px 0px 10px 0px white;
$inner-shadow-mla: inset 0px -6px 15px -5px white, inset 0px 2px 5px 0px rgba(4, 0, 0, 0.1),
    inset 4px 0px 15px 0px rgba(0, 0, 0, 0.1), inset -1px 0px 10px 0px white;

$border-mla:#f00;
$box-bg-mla:#f00; 
$tab-head-mla:#f00; */
$bg-color-admin:#F1F3F6;
$color_admin:#3E3F3F;