<div class="row">
  <div class="col-md-8 col-sm-8 mb-2">
    <nz-breadcrumb>
      <nz-breadcrumb-item
        [routerLink]="['/business-dashboard/question/question-dept-dashboard']"
      >
        {{ "business-dashboard.question.dashboard" | translate }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>{{ "business-dashboard.question.question" | translate }}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="admin-page-heading">
      {{ "business-dashboard.question.delystmt" | translate }}
    </h2>
  </div>
</div>
<div class="sticky_action_bar">
<div class="row">
  <div class="col-md-12 d-flex justify-content-between">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <!-- <button nz-button nzType="default" class="mr-15">...</button> -->
        <button
          *ngIf="
            rbsPermission && (rbsPermission.notes || rbsPermission.version)
          "
          nz-button
          nzType="default"
          class="mr-6"
          (click)="handleNotes(true)"
        >
          {{ "business-dashboard.question.notes" | translate }}({{
            notesList.length
          }})
        </button>
      </div>
      <div class="col-md-8 col-sm-12 d-flex justify-content-end">
        <ng-container *ngIf="!questionId && qDetail">
          <button
            nz-button
            nzType="primary"
            nz-popconfirm
            nzCancelText = "No"
            nzOkText = "Yes"
            nzPopconfirmTitle='{{"business-dashboard.question.doyouwanttosubmitthislist" | translate}}'
            (nzOnConfirm)="submitAnswerList()"
            nzPopconfirmPlacement="bottomLeft"
            style="margin-left: 6px;"
          >
          {{"business-dashboard.question.submit" | translate}}
          </button>
        </ng-container>
        <button
          nz-button
          nzType="default"
          (click)="onBack()"
          style="margin-left: 6px;"
        >
          {{"business-dashboard.question.questionview.back" | translate}}
        </button>
        <button
          nz-button
          nzType="default"
          (click)="showPreviewModal()"
          style="margin-left: 6px;"
          *ngIf="qDetail"
        >
          {{"business-dashboard.question.assurances.printpreview"| translate}}
        </button>
        <ng-container *ngIf="rbsPermission">
          <button
            nz-button
            nzType="primary"
            *ngIf="rbsPermission.Approve"
            nz-popconfirm
            nzCancelText = "No"
            nzOkText = "Yes"
            nzPopconfirmTitle='{{"business-dashboard.question.douwantapprovethislist" | translate}}'
            (nzOnConfirm)="admitQuestion()"
            nzPopconfirmPlacement="bottomLeft"
            style="margin-left: 6px;"
          >
            <!-- [disabled]="!claimParams['IsClaimed']" -->
            {{"business-dashboard.question.approve" | translate}}
          </button>
          <nz-select
            *ngIf="rbsPermission.ForwardTo"
            class="col-md-5"
            nzPlaceHolder="--Select--"
            [(ngModel)]="forwardToQS"
            (ngModelChange)="forwardNoticeTo($event)"
          >
            <nz-option
              *ngFor="let data of forwardTo"
              [nzLabel]="data.displayName"
              [nzValue]="data"
            ></nz-option>
          </nz-select>
          <button
            nz-button
            nzType="primary"
            *ngIf="rbsPermission.ForwardTo"
            nz-popconfirm
            nzCancelText = "No"
            nzOkText = "Yes"
            nzPopconfirmTitle='{{"business-dashboard.question.areyousureyouwantto" | translate}} {{ ForwardButton }}? '
            (nzOnConfirm)="forwardToQuestion()"
            nzPopconfirmPlacement="bottomLeft"
            style="margin-left: 6px;"
          >
            <!-- [disabled]="!claimParams['IsClaimed']" -->
            {{ ForwardButton }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<nz-divider></nz-divider>
</div>
<div class="input-group">
  <div class="row align-items-center">
    <div
      class="col-md-2 align-items-center"
      *ngIf="activityFlowList && activityFlowList.length > 0"
    >
      <span class="workflowhd">{{"business-dashboard.question.mainworkflow" | translate}}</span>
    </div>
    <div class="col-md-10 marginbtm-10 margnrtp-15">
      <div class="overflow">
        <nz-steps nzSize="small">
          <nz-step
            *ngFor="let data of activityFlowList"
            [nzStatus]="data.reason == 'completed' ? 'finish' : 'process'"
            [ngClass]="{ dropFlow: data.endWrkflow }"
            [nzTitle]="data.owner ? data.owner : data.taskDefinitionKey"
          ></nz-step>
        </nz-steps>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!questionId">
  <div class="col-md-12">
    <div class="row d-flex justify-content-flex-start">
      <div
        class="col-md-4 d-flex align-items-center icon-color whitespace"
        *ngIf="assemblySession['assembly']"
      >
        {{ "business-dashboard.question.assembly" | translate }}
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="assemblySession['assembly'].currentassembly"
          name="selectedassembly"
          (ngModelChange)="findSessionListByAssembly(assemblySession['assembly'].currentassembly)"
        >
          <nz-option
            *ngFor="let assembly of assemblySession['assembly']"
            [nzLabel]="assembly.assemblyId"
            [nzValue]="assembly.id"
          >
          </nz-option>
        </nz-select>
      </div>
      <div
        class="col-md-4 d-flex align-items-center icon-color whitespace"
        *ngIf="assemblySession['session']"
      >
        {{ "business-dashboard.question.session" | translate }}
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="assemblySession['session'].currentsession"
          name="selectedsession"
        >
          <nz-option
            *ngFor="let session of assemblySession['session']"
            [nzLabel]="session.sessionId"
            [nzValue]="session.id"
          >
          </nz-option>
        </nz-select>
      </div>
      <div class="col-md-4">
        <div class="row d-flex">
          <div class="col-md-4 d-flex align-items-center">
            <button type="button" class="ant-btn" (click)="generateList()">
              {{ "Generate" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="questionId && qDetail">
  <div class="col-md-3">
    {{ "Assembly : " + assemblySession["assemblyId"] }}
  </div>

  <div class="col-md-3">
    {{ "Session : " + this.assemblySession["sessionId"] }}
  </div>
  <div class="col-md-3">
    {{ "Generated On: " + (this.qDetail.date | date: "dd-MM-yyyy") }}
  </div>

  <div class="col-md-3">
    <span
      *ngIf="this.qDetail.layingDate && rbsPermission && !rbsPermission.Approve"
    >
      {{
        "Laying On : " + (this.qDetail.layingDate | date: "dd-MM-yyyy")
      }}</span
    >
    <div class="row" *ngIf="rbsPermission && rbsPermission.Approve">
      <div class="col-md-4" style="padding: 0;"><span>Laying On :</span></div>
      <div class="col-md-8" style="padding: 0;">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select Date."
          [(ngModel)]="this.qDetail.layingDate"
        >
          <nz-option
            *ngFor="let item of cosDates"
            nzValue="{{ item }}"
            nzLabel="{{ item | date: 'dd-MM-yyyy' }}"
          ></nz-option>
        </nz-select>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="qDetail"
  class="rachana-font"
  id="print-section"
  style="padding-top: 20px;"
>
  <div class="row" style="text-align: center;">
    <div class="col-md-12">
      <h6>
        <strong>{{
          (questionId ? assemblySession["assemblyId"] : assembly) +
            "-ാം കേരള നിയമസഭ"
        }}</strong>
        <br />
        <strong>{{
          (questionId ? this.assemblySession["sessionId"] : session) +
            "-ാം സമ്മേളനം"
        }}</strong>
        <br />
        <ng-container
          *ngIf="
            this.qDetail.layingDate && rbsPermission && !rbsPermission.Approve
          "
        >
          <strong>{{
            (this.qDetail.layingDate | date: "dd.MM.yyyy") +
              "ന് കാര്യവിവരപ്പട്ടികയിലെ മൂന്നാമത്തെ ഇനമായി സഭയുടെ മേശപ്പുറത്തു വയ്ക്കുന്ന കടലാസുകളുടെ പട്ടിക"
          }}</strong>
          <br />
        </ng-container>

        <strong>{{
          "കാലതാമസപത്രിക സഹിതം സമർപ്പിക്കുന്ന നിയമസഭാ ചോദ്യോത്തരങ്ങൾ"
        }}</strong>
        <br />
        <strong>{{ "[ ചട്ടം 47(2) പ്രകാരമുള്ളത് ]" }}</strong>
      </h6>
    </div>
  </div>
  <ng-container *ngFor="let block of qDetail.listBlocks">
    <div class="row" style="padding-top: 10px;">
      <div class="col-md-12">
        <h6>
          <strong>{{
            (block?.portfolio?.ministerName
              ? block?.portfolio?.ministerName + ","
              : "") +
              block?.portfolio?.nameInMalayalam +
              " മേശപ്പുറത്തു വയ്‌ക്കുന്നു."
          }}</strong>
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table border="1" style="width: 100%;">
          <thead>
            <tr>
              <th rowspan="2">
                <div class="col-md-12" style="text-align: center;">
                  {{ "ചോദ്യം നമ്പർ" }}
                </div>
              </th>
              <th rowspan="2">
                <div class="col-md-12">
                  {{ "ചോദ്യം" }}
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of block.questions; let i = index">
              <td>
                <div class="col-md-12" style="text-align: center;">
                  {{ item.questionNumber }}
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  {{ item.heading }}
                </div>
                <div class="col-md-12" id="buttons" *ngIf="isContentEditable">
                  <nz-tag nzColor="magenta" (click)="viewQuestion(item)"
                    >{{"business-dashboard.question.view" | translate}}</nz-tag
                  >
                  <nz-tag nzColor="magenta" (click)="viewDelayStmnt(item)"
                    >{{"business-dashboard.question.delaystatement" | translate}}</nz-tag
                  >
                  <nz-tag
                    nzColor="magenta"
                    *ngIf="questionId"
                    nz-popconfirm
                    nzCancelText = "No"
                    nzOkText = "Yes"
                    nzPopconfirmTitle='{{"business-dashboard.question.douwantretthisques" | translate}}'
                    (nzOnConfirm)="onReturnToDept(block.questions, item)"
                    nzPopconfirmPlacement="bottomLeft"
                    >{{"business-dashboard.question.returntodept" | translate}}</nz-tag
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>
<form nz-form class="question-create">
  <nz-drawer
    [nzMaskClosable]="false"
    [nzWidth]="550"
    [nzVisible]="shownotes"
    nzTitle='{{"business-dashboard.question.notes&comments" | translate}}'
    (nzOnClose)="handleNotes(false)"
  >
    <div
      #scrollMe
      class="chat-main-body"
      [ngClass]="{ fullScroll: rbsPermission && !rbsPermission.addnote }"
      [scrollTop]="scrollMe.scrollHeight"
    >
      <nz-card *ngFor="let data of notesList; let i = index" class="mb-15">
        <div>
          <div class="input-group">
            <div class="row d-flex justify-content-between">
              <div class="col-md-5 padding0">
                {{ data?.owner?.fullName }}
              </div>
              <div class="col-md-7 txt-alignR padding0">
                <div nz-row hover>
                  <button
                    *ngIf="data.editNote"
                    nz-button
                    nzType="default"
                    (click)="editNotes(i, data)"
                  >
                    {{"business-dashboard.question.edit" | translate}}</button
                  >&nbsp;&nbsp;
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 padding0">
              </div>
              <div class="row">
                <div class="col">
                  <div>
                    <span *ngIf="data.noteditable">
                      <nz-input-group
                        nzSearch
                        nzSize="large"
                        [nzAddOnAfter]="suffixButton"
                      >
                        <input
                          type="text"
                          nzSize="large"
                          nz-input
                          [(ngModel)]="editedNote"
                          name="editedNote"
                          nz-input
                          placeholder='{{"business-dashboard.question.typeyourcomments&notes" | translate}}'
                        />
                      </nz-input-group>
                      <ng-template #suffixButton>
                        <button
                          nzType="default"
                          (click)="updateNotes(i, data)"
                          nz-button
                        >
                          {{"business-dashboard.question.save" | translate}}
                        </button>
                      </ng-template>
                    </span>
                    <span *ngIf="!data.noteditable"
                      ><b class="text-left">{{ data.note }}</b></span
                    >
                    <div>
                      <div class="d-flex justify-content-between mt-20 w-100">
                        <div class="col-md-12 d-flex justify-content-end pr0">
                          <div>
                            {{
                              convertUTCDateToLocalDate(data.updateDateTime)
                                | date: "dd MMMM yyyy"
                            }}
                          </div>
                          <div class="margnlft-15">
                            {{
                              convertUTCDateToLocalDate(data.updateDateTime)
                                | date: "hh:mm a"
                            }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nz-card>
    </div>
    <div class="chat-footer" *ngIf="rbsPermission && rbsPermission.addnote">
      <div>
        <div class="col">
          <div>
            <span>
              <nz-input-group
                nzSearch
                nzSize="large"
                [nzAddOnAfter]="suffixButton"
              >
                <textarea
                  nz-input
                  placeholder='{{"business-dashboard.question.typeyourcomments&notes" | translate}}'
                  nz-input
                  [(ngModel)]="noteGiven"
                  name="noteGiven"
                  [nzAutosize]="{ minRows: 1, maxRows: 6 }"
                ></textarea>
              </nz-input-group>

              <ng-template #suffixButton>
                <button nzType="default" (click)="saveNotes()" nz-button>
                  {{"business-dashboard.question.save" | translate}}
                </button>
              </ng-template>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="">
      <nz-modal
        [(nzVisible)]="ShowRules"
        nzTitle='{{"business-dashboard.question.rules&directions" | translate}}'
        (nzOnCancel)="cancelRuleSelection()"
        (nzOnOk)="applyRule()"
      >
        <div class="padding-15">
          <nz-table #rulesForNotes [nzData]="ruleList" [nzPageSize]="5">
            <thead>
              <tr>
                <th></th>
                <th>{{"business-dashboard.question.ruleno" | translate}}</th>
                <th>{{"business-dashboard.question.description" | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of rulesForNotes.data">
                <td
                  nzShowCheckbox
                  [(nzChecked)]="data.checked"
                  (nzCheckedChange)="checkedRule()"
                ></td>
                <td>{{ data.code }}</td>
                <td>{{ data.englishDescription }}</td>
              </tr>
            </tbody>
          </nz-table>
          <div class="row">
            <div class="col-md-2">
              <nz-form-label>{{"business-dashboard.question.reason" | translate}}</nz-form-label>
            </div>
            <div class="col-md-10">
              <input
                type="text"
                nzSize="large"
                nz-input
                [(ngModel)]="reason"
                name="reason"
                nz-input
                placeholder='{{"business-dashboard.question.typeurreashere" | translate}}'
                class="bg_inp"
              />
            </div>
          </div>
        </div>
      </nz-modal>
    </div>
  </nz-drawer>
</form>

<nz-modal
  [nzTitle]="versionModalTitle"
  [(nzVisible)]="showPreview"
  (nzOnCancel)="cancelVersion()"
  nzClassName="pdngs"
  [nzFooter]="null"
  [nzWidth]="'800'"
>
  <div class="lob_form rachana-font" id="preview-section">
    <div [innerHTML]="previewData | safeHtml"></div>
  </div>
  <ng-template #versionModalTitle>
    <div class="row">
      <div class="col-md-6">
        {{"business-dashboard.question.preview" | translate}}
      </div>
      <div class="col-md-6" style="text-align: right; padding-right: 50px;">
        <button
          nz-button
          nzType="dashed"
          useExistingCss="questionId?false:true"
          printSectionId="preview-section"
          ngxPrint
          style="margin-left: 6px;"
        >
        {{"business-dashboard.question.print" | translate}}
        </button>
      </div>
    </div>
  </ng-template>
</nz-modal>