.paddingT20 {
  padding-top: 20px;
}
.baseline {
  vertical-align: baseline;
}
.text-right {
  text-align: right;
}
.full-width {
  width: 100%;
}

.left-border {
  border-left: 1px solid lightgrey;
  min-height: 420px;
}

.keyrow {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}
.padn10{padding-bottom: 10px;}
.pd5 td{padding:5px !important;}
.td_heading {
  max-width: 50px;
}
.bgClr {
  background-color:#f1ecec;;
}
.brder-sub{border: 1px solid #8fabd0;
  width: 100%;
  border-radius: 4px;padding-left: 10px;}