@import "~src/sass/utilities/variables";
@import "~src/sass/utilities/mixin";
.vote-question {
	font-size: $font-form;
}

.st0 {
	fill: #e0e0e0;
}
.st1 {
	fill: rgb(189, 189, 189);
}
.st2 {
	fill: #ffffff;
}
.st3 {
	fill: none;
	stroke: #bdbdbd;
}
.st4 {
	fill: #295c8d;
}
.st5 {
	font-family: "Roboto-Bold";
}
.st6 {
	font-size: 13px;
}
.st7 {
	font-family: "Roboto-Medium";
}
.st8 {
	fill: #585858;
}
.st9 {
	font-size: 12px;
}
.st10 {
	opacity: 0.502;
	fill: #f2f2f2;
	enable-background: new;
}
.yes {
	fill:rgb(27, 161, 79);
}
.st12 {
	stroke:rgb(27, 161, 79);
	stroke-width: 2;
}

.no {
	fill: rgb(224, 24, 24);
}
.st13 {
	stroke: rgb(224, 24, 24);
	stroke-width: 2;
}

.abstain {
	fill: #716DF5;
}

.st14 {
	stroke: #716DF5;
	stroke-width: 2;
}
.mrg-auto {
	margin: auto;
}
.modal-header {
	padding: 11px 15px;
	background-color: $mla-font-color;
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.428571429px;
	h4 {
		font-size: 14px;
		color: #fff;
	}
	span {
		font-size: 14px;
		color: #fff;
	}
}
.ant-modal-body {
	background: $mla-pop-bg !important;
}
.bg-blue {
	background: $mla-pop-bg !important;
}
.mrgLR0 {
	margin-left: 0px;
	margin-right: 0px;
}
