.ant-list-split .ant-list-item {
  border: 1px solid #e8e8e8 !important;
  margin-bottom: 20px !important;
  padding: 15px !important;
}
.ant-form-item-label {
  text-align: left !important;
}

.m-b-35 {
  margin-bottom: 35px;
}
.font-16 {
  h3 {
    font-size: 16px !important;
  }
}
.justify-content-end {
  justify-content: flex-end;
}

.align-items {
  align-items: flex-start;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.align-item-center {
  align-items: center;
}
.txt-align-R {
  float: right;
}
.ant-tag {
  background-color: transparent !important;
}
.box2 {
  display: block;
  padding: 10px;
  text-align: justify;
}
ul {
  list-style-type: none;
}
.clicked {
  background: #eaeaea;
}

.w-auto {
  width: auto !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.li-aod {
  margin-bottom: 0px !important;
}

.minister_grp {
  width: 100%;
  margin-bottom: 0px;
}
.minister_grp li {
  width: 100%;
  list-style-type: disc;
  margin-bottom: 10px;
  margin-left: 15px;
}

.date_aod {
  font-size: 20px;
  font-weight: 600;
  padding: 15px 0px;
  float: left;
  width: 100%;
}
.overflow-aod {
  max-height: 130vh;
  overflow-y: auto;
  overflow-x: hidden;
}
