.head-timer{line-height: 40px;}
.timer-no{font-size: 30px;}

.member_bc{width: 100%;
    padding-left: 15px;
    margin-bottom: 0px;
    font-weight: 600;
display: flex;
    min-height: 32px;
    align-items: center;}