//.can_style{
    .pdng_can {
        background: #fff;
        width: 96%;
        border-radius: 15px;
        margin-top: 20px;
        margin-left: 2%;
        box-shadow: inset 0px -6px 15px -5px #ececec,
          inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1),
          inset 4px 0px 15px 0px rgba(0, 0, 0, 0.1), inset -1px 0px 10px 0px #cacaca;
          float: left;
      }
      
      
      
      
      .btn_can {
        border: none;
        color: #fff;
        background: #295c8d;
        border-radius: 5px;
        font-size: 15px;
        height: 37px;
        align-items: center;
        margin-left: 2%;
        margin-top: 15px;
        padding: 17px 26px;
        line-height: 0px;
      }
      
.mla-button:focus{outline: none !important;border: none !important;}