.paddingT15 {
  padding-top: 15px;
}

.vertical-line {
  height: auto;
}

.border-right {
  border-right: inset;
}

.color {
  color: red;
}

.selection-vrsn {
  padding: 10px 0px;
  background: #eee;
  display: flex;
  margin: 0 5px;
  align-items: center;
}

.input-style {
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 10px;
  margin: 0 5px 10px;
}
.tag-style {
  border: 1px solid #eee;
  padding: 6px;
  border-radius: 4px;
  margin-right: 5px;
}
.paddingL0 {
  padding-left: 0px !important;
}

.answer {
  background: #eee;
  margin-top: 5px;
}

.clause-style {
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}

.back-color {
  background: #f3f371;
}

.dropdown-option {
  margin: 0;
}
.word-break {
  word-break: break-all;
  font-family: rachana;
  font-size: 18px;
}
.plr {
  padding-right: 25px;
}
table {
  table-layout: fixed;
  white-space: normal!important;
}

td {
  word-wrap: break-word;
}