<div class="row">
  <div class="col-md-12 col-sm-12 mb-2">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        {{ "Dashboard" | translate }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>{{ "Fingerprint Enrollment" | translate }}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
</div>
<div class="sticky_action_bar">
<div class="row d-flex justify-content-between">
  <div class="col-auto">
    <h2 class="admin-page-heading">
      {{ "Fingerprint Enrollment" | translate }}
    </h2>
  </div>
</div>
<nz-divider></nz-divider>
</div>
<div class="row marginbtm-15">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <nz-input-group nzSearch [nzSuffix]="suffixIconSearch">
      <input nz-input type="text" [(ngModel)]="searchParam" name="search" nz-inputcd placeholder="{{'usermanagement.listrole.searchhere' | translate }}"
        (ngModelChange)="onSearchUser()"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nz-table #filterTable [nzData]="filtermemberList">
      <thead>
        <tr>
          <th style="display: none;">
            {{ "Sl.No" | translate }}
          </th>
          <th>{{ "Member name" | translate }}</th>
          <th>{{ "Enroll" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filterTable.data; index as i">
          <td>{{ item.details.fullName }}</td>
          <td>
            <label
              style="cursor:pointer; color:blue;"
              (click)="enrollUserBiometrics(item.userId)"
              *ngIf="item.userHashes.length < 3"
              >{{ "Enroll" | translate }}</label
            > &nbsp;
            <label
            style="cursor:pointer; color:blue;"
             class="delete" nz-popconfirm nzPopconfirmTitle="Do you want to delete?" 
                        (nzOnConfirm)="deleteBiometrics(item.userId)" (nzOnCancel)="cancelDelete()" 
                        nzPopconfirmPlacement="bottomLeft" *ngIf="item.userHashes.length > 0 ">
                        {{'bussiness-dashboard.user-managemnet.biometric-enrollment.delete'|translate}}
                </label>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div class="col-md-6">
  <nz-modal
    [(nzVisible)]="ShowEnrollmentModal"
    nzTitle="Fingerprint Registration"
    (nzOnOk)="stopDevice()"
    (nzOnCancel)="stopDevice()"
    [nzOkText]="'Submit' | translate"
    nzWidth="900px"
  >
    <nz-card class="borderStyle">
      <div class="d-flex justify-center">
        <div class="fingerprint-txt" *ngFor="let item of biometricDetails">
          <img src="/assets/img/noun_Fingerprint-1.svg" />
          <h4 *ngIf="item.quality">
            {{ "Quality" | translate }}: {{ item.quality }}%
          </h4>
        </div>
      </div>

      <div
        class="bg-blue text-center"
        [ngClass]="responseStatus ? 'successText' : 'dangerText'"
      >
        {{ responseText }}
      </div>
      <div [hidden]="biometricDetails.length > 2" class="d-flex justify-center">
        <button
          nz-button
          nzType="default"
          class="mrgL6"
          (click)="enrollUserBiometrics(0)"
          *ngIf="!Processing && responseStatus && biometricDetails.length < 3"
        >
          {{ "Next" | translate }}
        </button>
        <button
          nz-button
          nzType="default"
          class="mrgL6"
          (click)="enrollUserBiometrics(0)"
          *ngIf="!Processing && !responseStatus && biometricDetails.length < 3"
        >
          {{ "Scan Again" | translate }}
        </button>
      </div>
    </nz-card>
  </nz-modal>
</div>
