.fingerprint-txt {
  padding: 15px;

  h4 {
    padding: 20px;
    font-size: 18px;
  }
}
.justify-center {
  justify-content: center;
}
.bg-blue {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 500;
}
.mrg10 {
  margin: 10px 0;
}

.text-center {
  text-align: center;
}
.successText {
  color: green;
}
.dangerText {
  color: red;
}
