@import "~src/sass/utilities/variables";

input {
	width: 100%;
}
.input-group {
	margin-bottom: 20px;
}
.ant-tag {
	background: $white;
	padding: 3px 7px;
}
.nz-close-style {
	color: $color-red-close;
	cursor: pointer;
}
.a-answer {
	background: $color-blue-light-1;

	textarea {
		width: 100%;
	}
}
.paddingL0 {
	padding-left: 0px;
}
.mr-15 {
	margin-right: 15px;
}
.justify-content-between {
	justify-content: space-between;
}

.tag-name{width: 100%;border: #ccc  solid 1px; border-radius: 5px;padding: 5px 10px;margin-bottom: 10px;}

.space_given button{margin-left: 10px;}


.first{position: relative;}
.first::after{position: absolute;content: "1st"; right: -25px;
    color: #689fcb;
	font-size: 14px;}
	


	.mla-tag .ant-tag{margin-top: 10px;}