@import "~src/sass/utilities/variables";
.justify-content-space-between {
	justify-content: space-between;
}
.text-align-right {
	text-align: right;
}

.mrgL6 {
	margin-left: 6px;
}

.mrgT20 {
	margin-top: 20px;
}

.btn-primary-1 {
	background-color: $primary-button-color;
	color: $white;
}
