.paddingT20 {
  padding-top: 20px;
}
.paddingT25 {
  padding-top: 25px;
}

.paddingR15 {
  padding-right: 15px;
}
.word-break {
  word-break: break-word;
  font-family: rachana;
  font-size: 18px;
}
.align-center {
  text-align: center;
}
.count-column {
  width: auto;
  white-space: nowrap;
}
.data-column {
  width: 100%;
}
.fullwidth {
  width: 100%;
}
.brd-clr{border: #ccc solid 1px; background-color: #edadea;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mr15{margin-right: 15px;}
.clouse_wid{width:auto;margin-right: 10px;white-space: nowrap;}
.clouse_txt{width: 100%;}
.tr{text-align: right !important;vertical-align: top;}