<div class="row marginbtm-10 margnrtp-15">
  <div class="col-md-12">
    <div
      class="row"
      *ngIf="assemblySession['assembly'] && assemblySession['session']"
    >
      <div class="col-md-3 d-flex align-items-center icon-color marginbtm-10">
        {{ "business-dashboard.question.assembly" | translate }}
        <nz-select
          nzShowSearch
          nzPlaceHolder=""
          [(ngModel)]="assemblySession['assembly'].currentassembly"
          name="selectedAssembly"
          (ngModelChange)="findSessionListByAssembly(assemblySession['assembly'].currentassembly)"
        >
          <nz-option
            *ngFor="let assembly of assemblySession['assembly']"
            [nzLabel]="assembly.assemblyId"
            [nzValue]="assembly.id"
          >
          </nz-option>
        </nz-select>
      </div>

      <div class="col-md-3 d-flex align-items-center icon-color marginbtm-10">
        {{ "business-dashboard.question.questionlist.session" | translate }}
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="assemblySession['session'].currentsession"
          name="selectedSession"
          (ngModelChange)="getApprovedDraftList()"
        >
          <nz-option
            *ngFor="let session of assemblySession['session']"
            [nzLabel]="session.sessionId"
            [nzValue]="session.id"
          >
          </nz-option> </nz-select
        >&nbsp;
      </div>
      <div class="col-md-3 d-flex align-items-center marginbtm-10">
        <button
          class="plus-arrange mr-6 d-flex justify-content-center align-items-center"
          nz-button
          [nzType]="'primary'"
          (click)="showModal()"
        >
          <i nz-icon nzType="plus"></i>
        </button>
        <nz-modal
          [(nzVisible)]="isVisibleFilter"
          nzTitle="{{
            'business-dashboard.questionbank.filtercolumns'
              | translate
          }}"
          (nzOnCancel)="_hideFilter()"
          (nzOnOk)="_showFilter()"
        >
          <div class="pading-all">
            <p
              *ngFor="let box of filterCheckboxes; let i = index"
              class="checkbox-style"
            >
              <label
                nz-checkbox
                name="checkbox{{ i }}"
                (ngModelChange)="_chooseFilter(box)"
                [(ngModel)]="box.checked"
                >{{ box.label }}</label
              >
            </p>
          </div>
        </nz-modal>

        <button
          nz-button
          nzType="default"
          (click)="clearFilter()"
          (keyup.enter)="DoNothing()"
        >
          {{
            "business-dashboard.question.questionlist.clearfilter" | translate
          }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row fltr">
  <div class="col-md-3" *ngIf="tablefiltrParams.show.showassuranceNo">
    <div class="row align-items-center">
      <div class="col-md-5 wordbreak">
        {{ "business-dashboard.question.assurances.draftNo" | translate }}
      </div>
      <div class="col-md-6">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="filterSelected['assuranceNo']"
          name="assuranceNo"
          (ngModelChange)="searchCol(filterSelected)"
        >
          <nz-option
            *ngFor="let num of tablefiltrParams.data.assuranceNo"
            nzLabel="{{ num }}"
            nzValue="{{ num }}"
          ></nz-option>
        </nz-select>
      </div>
      <div class="col-md-1 pdzero icon-color">
        <i
          nz-icon
          nzType="close-circle"
          nzTheme="outline"
          (click)="disableFilter(1)"
        ></i>
      </div>
    </div>
  </div>
  <div class="col-md-3" *ngIf="tablefiltrParams.show.showtitle">
    <div class="row align-items-center">
      <div class="col-md-5 wordbreak">
        {{ "business-dashboard.question.assurances.title" | translate }}
      </div>
      <div class="col-md-6">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="filterSelected['title']"
          name="title"
          (ngModelChange)="searchCol(filterSelected)"
        >
          <nz-option
            *ngFor="let title of tablefiltrParams.data.title"
            nzLabel="{{ title }}"
            nzValue="{{ title }}"
          >
          </nz-option>
        </nz-select>
      </div>
      <div class="col-md-1 pdzero icon-color">
        <i
          nz-icon
          nzType="close-circle"
          nzTheme="outline"
          (click)="disableFilter(2)"
        ></i>
      </div>
    </div>
  </div>

  <div class="col-md-3" *ngIf="tablefiltrParams.show.showministerSubjectName">
    <div class="row align-items-center">
      <div class="col-md-5 wordbreak">
        {{ "business-dashboard.question.assurances.dept" | translate }}
      </div>
      <div class="col-md-6">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="filterSelected['ministerSubjectName']"
          name="ministerSubjectName"
          (ngModelChange)="searchCol(filterSelected)"
        >
          <nz-option
            *ngFor="let dept of tablefiltrParams.data.ministerSubjectName"
            nzLabel="{{ dept }}"
            nzValue="{{ dept }}"
          ></nz-option>
        </nz-select>
      </div>
      <div class="col-md-1 pdzero icon-color">
        <i
          nz-icon
          nzType="close-circle"
          nzTheme="outline"
          (click)="disableFilter(3)"
        ></i>
      </div>
    </div>
  </div>
  <div class="col-md-3" *ngIf="tablefiltrParams.show.showsource">
    <div class="row align-items-center">
      <div class="col-md-5 wordbreak">
        {{ "business-dashboard.question.assurances.source" | translate }}
      </div>
      <div class="col-md-6">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="filterSelected['source']"
          name="source"
          (ngModelChange)="searchCol(filterSelected)"
        >
          <nz-option
            *ngFor="let source of tablefiltrParams.data.source"
            nzLabel="{{ source }}"
            nzValue="{{ source }}"
          ></nz-option>
        </nz-select>
      </div>
      <div class="col-md-1 pdzero icon-color">
        <i
          nz-icon
          nzType="close-circle"
          nzTheme="outline"
          (click)="disableFilter(4)"
        ></i>
      </div>
    </div>
  </div>
</div>
<div class="row margnrtp-15 justify-content-end">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            type="text"
            [(ngModel)]="searchParam"
            name="search"
            nz-input
            placeholder="{{
              'business-dashboard.question.questionlist.inputsearch' | translate
            }}"
            (ngModelChange)="onSearch()"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-md-1 text-align-right">
    <a
      class="abs_btn"
      nzType="default"
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="menu"
    >
      <i nz-icon nzType="layout" nzTheme="outline" class="mr-6"></i>
      <span class="mrgL6">cols</span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div>
        <ul nz-menu filterTable class="checkbox-style">
          <li
            *ngFor="let box of filterCheckboxes; let i = index"
            class="pading-5"
          >
            <label nz-checkbox [(ngModel)]="box.colchecked" name="i">{{
              box.label
            }}</label>
          </li>
        </ul>
      </div>
    </nz-dropdown-menu>
  </div>
  <div class="col-auto text-align-right d-flex justify-content-end">
    <button nz-button nzType="default" (click)="printPreview()">
      {{ "business-dashboard.question.assurances.printpreview" | translate }}
    </button>
  </div>
</div>
<nz-divider></nz-divider>
<div class="row margntp-25">
  <div class="col-md-2">
    {{ numberOfChecked }}
    {{ "business-dashboard.question.questionlist.selected" | translate }}
  </div>
</div>
<nz-table
  #filterTable
  nzShowPagination
  nzShowSizeChanger
  [nzData]="listOfData"
  (nzCurrentPageDataChange)="currentPageDataChange($event)"
  class="table-all"
>
  <thead *ngIf="isChecked" (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th
        nzShowCheckbox
        [(nzChecked)]="isAllDisplayDataChecked"
        (nzCheckedChange)="_checkAllRows($event)"
      ></th>
      <th nzShowSort *ngIf="filterCheckboxes[0].colchecked" nzSortKey="assuranceNo">
        {{ "business-dashboard.question.assurances.draftNo" | translate }}
      </th>
      <th nzShowSort *ngIf="filterCheckboxes[1].colchecked" nzSortKey="title">
        {{ "business-dashboard.question.assurances.title" | translate }}
      </th>
      <th nzShowSort *ngIf="filterCheckboxes[2].colchecked" nzSortKey="ministerSubjectName">
        {{ "business-dashboard.question.assurances.dept" | translate }}
      </th>
      <th nzShowSort *ngIf="filterCheckboxes[3].colchecked" nzSortKey="source">
        {{ "business-dashboard.question.assurances.source" | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of filterTable.data">
      <td
        nzShowCheckbox
        [(nzChecked)]="mapOfCheckedId[list.id]"
        (nzCheckedChange)="refreshStatus()"
      ></td>
      <td *ngIf="filterCheckboxes[0].colchecked">{{ list.assuranceNo }}</td>
      <td *ngIf="filterCheckboxes[1].colchecked">{{ list.title }}</td>
      <td *ngIf="filterCheckboxes[2].colchecked">
        {{ list.ministerSubjectName }}
      </td>
      <td *ngIf="filterCheckboxes[3].colchecked">
        {{"business-dashboard.question.questioneditconsent.Question" | translate }} 
      </td>
    </tr>
  </tbody>
</nz-table>
