@import "~src/sass/utilities/_variables";
@import "~src/sass/utilities/layout";
@import "~src/sass/utilities/mixin";
@import "~src/sass/utilities/function";
@import "~src/sass/utilities/ant-style";

.heading-lob {
  font-size: 17px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}
.lobview-span {
  float: left;
  width: 100%;
  overflow-wrap: break-word;
}

.lob-container {
  height: 80vh;
}
.paddingL50 {
  padding-left: 50px;
}

.paddingB20 {
  padding-bottom: 20px;
}

.business_list{width: 100%;}
.mla-name-tab{    font-size: 17px;
    color: #000 !important;}

.lobview-span{font-size: 16px;margin-bottom: 5px;}
