@import "~src/sass/utilities/variables";
.btn-flex {
  display: flex;
  margin: 20px 0 0 20px;
  width: auto;
  justify-content: flex-start;
}

.btn-style {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  font-size: 14px;
  height: auto;
  white-space: normal;
}

.mrgT20 {
  margin-top: 20px;
}
.mrgT50 {
  margin-top: 50px;
}
.mrgL6 {
  margin-left: 6px;
}
.btn-active-bg {
  background-color: #9abfe2 !important;
  padding: 5px !important;
  color: #3e3f3f !important;
  border: #3d8ddb solid 1px;
}

.bg-box-notice {
  background: $color-gray-2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  position: sticky;
  top: 15px;
}

.text-align-right {
  text-align: right;
}
h4 {
  font-size: 18px;
  font-weight: 500;
}
h6 {
  margin: 15px 0;
  font-weight: 600;
}
