.abs_btn {
  background-color: #e6eff4;

  padding: 5px 10px;
  float: right;
  border: none;

  border-radius: 5px;

  display: flex;

  align-items: center;
}
.td_heading {
  max-width: 50px;
}
.mr-6{margin-right: 6px;}
  .pading-5{padding: 5px !important;}